.heroImage {
    width: 100%;
    height: 180px;
    max-height: 520px;
    object-fit: cover;
}

.container {
    position: relative;
}

.heading {
    max-width: 880px;
    margin: 20px auto 0 auto;
    color: #422662;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.3;
}

.subHeading {
    max-width: 880px;
    margin: 10px auto 0 auto;
    color: #422662;
}

.title {  
    min-width: 80%;
    padding: 1rem;
}

.logo {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}


@media only screen and (min-width: 768px) {
    .heroImage {
        height: 520px;
    }
    .title { 
        text-align: center;
    }
  }