.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.svgwrap {
    margin-top:5px;
}

.svgwrap a svg {
    width: 35px;
    height: 35px;
    fill: #ddffaa;
    transition: fill 0.2s ease-in-out;
    margin-right: 13px;
}

.svgwrap a:hover svg {
    fill: #ffbb00;
    cursor: pointer;
}

.svgwrap a:hover {
    background-color: transparent;
    color: #ffbb00;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .svgwrap {
        margin-top:10px;
    }
    
    .svgwrap a svg {
        width: 50px;
        height: 50px;
    }
}