.container {
    display: grid;
    grid-template-columns: 1fr;
    background: #422662;
}
.details {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    flex-direction: column;
}

.headingTop {
    color: #ddd;
    font-size: 24px;
}

.resume {
    display: block;
    width: 200px;
    color: white;
    border: 1px solid;
    text-align: center;
}

.animation {
    background: url(/ashutosh.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

.description {
    display: none;
}

@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, minmax(320px, 1fr));
        padding: 0 0;
    }
    .description {
        display: block;
        color: #ccc;
        letter-spacing: 1px;
        font-size: 1.2rem;
        line-height: 2rem;
        width: 100%;
    }
    .animation {
        background: url(/ashutosh.jpeg);
        background-size: cover;
        background-position: center;
    }
    .details {
        padding: 1rem;
        max-height: 500px;
        min-height: 450px;
        padding: 4rem 2rem;
;
    }
  }