.container {
    padding: 4rem 1rem;
    content-visibility: auto;
    background-color: #422662;
}
.cards {
    display: grid;
}

.lightWhite {
    color: #ddd;
    margin: 0.1rem 0 0.8rem 0;
}

.experianceCard {
    padding: 2rem 0;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
  }
  .my-masonry-grid_column {
    background-clip: padding-box;
  }
  

@media only screen and (min-width: 768px) {
    .experianceCard {
        padding: 2rem 2rem;
    }
    .container {
        padding: 4rem 4rem;
        background-color: #422662;
    }
  }