.container {
    padding: 4rem 1rem;
    background-color: #422662;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}

.lightWhite {
    color: #ddd;
    margin: 0.1rem 0 0.8rem 0;
}

.experianceCard {
    padding: 2rem 0;
}

  .description {
    display: block;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 2rem;
}
  

@media only screen and (min-width: 768px) {
    .experianceCard {
        padding: 2rem 2rem;
        width: 50%;
    }
    .container {
        padding: 4rem 4rem;
        background-color: #422662;
    }
  }