.container {
    padding: 0 1rem;
    margin: 2rem 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}



.projectImage {
    width: 100%;
    filter: blur(1px);
    object-fit: contain;
}

.projectCard {
    margin: 2rem 0;
    position: relative;
}

.buttonStyle {
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #333;
    color: #ddd;
    background: #422563;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 4rem;
    }
    .projectCard {
        width: 50%;
        padding: 0 2rem 0 0;
    }
    .projectImage {
        height: 200px;
    }
  }
